h1 { 
  color:crimson;
}

p {
  font-family:georgia;
  color:MediumVioletRed;
  font-weight: bold;
}

h2 { 
  color:Indigo;
}

h3 {
  font-size:25px;
  color:Magenta;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:gray !important;
}

a {
  color:violet;
}

table {
  color:goldenrod;
}

th {
  color:Blue;
}

.red {
  color:red;
  font-weight:bold;
}

li {
  color:goldenrod !important;
}

.black {
  color:black;
}